.container {
  margin: auto;
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// align form & buttons horizontally
.flex {
  display: flex;
}
